* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

main {
    height: calc(100vh - 100px);
    width: 100%;
}





/*---COL-SX---*/
.col-sx {
    height: 100%;
    width: 50px;
    min-height: 480px;
    background-color: aqua;
}

.nav-top {
    height: calc(100% - 80px);
}




.logo-small img {
    width: 30px;
}

.logo img {
    display: none;
}



.nav-icone i {
    width: 30px;
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.nav-text {
    display: none;
}







.nav-playlist {
    display: none;
}

.nav-bottom {
    height: 80px;
    background-color: violet;
}






/*---COL-DX---*/
.col-dx {
    height: 100%;
    width: calc(100% - 50px);
    background-color: lime;
    overflow: auto;
}

.upgrade {
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    right: 0;
    z-index: 2;
    text-align: right;
}

/*---FOOTER---*/
footer {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: royalblue;
}






/*MEDIA QUERY*/

/*MQ S*/
@media (min-width: 480px) {
.col-sx {
    width: 210px;
}

.col-dx {
    width: calc(100% - 210px);
}

.upgrade {
    width: calc(100% - 210px);
}


.logo-small img {
    display: none;
}

.logo img {
    display: block;
    width: 100px;
} 

.nav-text {
    display: inline-block
}

.nav-playlist {
    /* display: block; */
}






/*DEBUG*/