* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/*-----HEADER-----*/

header {
    height: 100px;
    width: 100%;
    background-color: aqua;
    display: flex;
    font-size: small;

    color: white;
}

/*HEADER SX*/
.hsx {
    width: 250px;
    height: 100px;
    background-color: blueviolet;
}

/*.hdx {
    text-align: end;
    line-height: 100px;
}*/

/*HEADER DX*/

/*.dx {
    height: 100px;
    width: 100%;
    background-color: darkseagreen;

}*/


.aside {
    width: 250px;
    height: 800px;
    background-color: dodgerblue;
}

main {
    width: 100%;
    height: 800px;
    background-color: rgb(255, 30, 199);

}