* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



main {
    height: calc(100vh - 100px);
    width: 100%;
}





/*---COL-SX---*/
.col-sx {
    height: 100%;
    width: 50px;
    min-height: 480px;
    background-color: rgb(29, 29, 29);
}



/*NAV-TOP*/
.nav-top {
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}




.logo-small img {
    width: 35px;
    color: white;
   padding-top: 10px;
   padding-bottom: 10px;
   
}

.logo img {
    display: none;
}



.nav-icone i {
    font-size: 20px;
    color: rgb(189, 187, 187);
    
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.nav-text {
    display: none;
}





.nav-playlist {
    display: none;
}




/*NAV-BOTTOM*/
.nav-bottom {
    height: 130px;
    background-color: rgb(79, 91, 131);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.nav-bottom .fa-arrow-circle-down  {
    font-size: 10px;
    color: rgb(189, 187, 187);
    
    padding-top: 5px;
    padding-bottom: 10px;
}

.nav-bottom .fa-user-circle  {
    font-size: 20px;
    color: rgb(189, 187, 187);
    
    padding-top: 5px;
    
    
}








/*---COL-DX---*/
.col-dx {
    height: 100%;
    width: calc(100% - 50px);
    background-color: rgb(83, 84, 172);
    overflow: auto;
}

.upgrade {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    position: fixed;
    top:0;
    right: 0;
    z-index: 2;
    text-align: right;
    line-height: 70px;
}

.text-upgrade {
    text-transform: uppercase;
    font-size: 10px;
    /*font-weight: bold;*/
    color: rgb(216, 215, 215);

    margin-right: 5px;

    border: 1px solid rgb(216, 215, 215);
    border-radius: 20px;
    padding: 5px 15px;

}




/*---FOOTER---*/
footer {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: royalblue;
}






/*MEDIA QUERY*/

/*MQ S*/
@media (min-width: 480px) {
.col-sx {
    width: 210px;
}

.col-dx {
    width: calc(100% - 210px);
}

.upgrade {
    width: calc(100% - 210px);
}


.logo-small img {
    display: none;
}

.logo img {
    display: block;
    width: 100px;
} 

.nav-text {
    display: inline-block
}

.nav-playlist {
    /* display: block; */
}






/*DEBUG*/